html, body {
    width: 100%;
    /* background-color: cornflowerblue; */
}

.navbar {
    margin-bottom: 50px;
}

#logo {
    font-family: 'Righteous', cursive;
    font-size: 25px;
}

#slogan {
    padding: 5px 0 0 8px;
}

#tint {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    top: 0;
}

 .checkbox {
    display: none;
}  

.checkbox + label {
    cursor: pointer;
}

.checkbox:checked + label {
  background-color: orange;
}

#form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#form > nav {
    width: 300px;
    margin: 0 30px;
    z-index: -2
}

.panel-block {
    background-color: PapayaWhip;
    padding-bottom: 10px;
}

aside, .menu-list, .button {
    width: 100%;
}

#submit {
    position: absolute;
    bottom: 0;
    width: 200px;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.menu-item {
    width: 200px;
}

.button, .menu-item {
    margin: 1px 0;
}